@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Recipe Manager!</h1>
    <img src="/images/avocado_toast.jpg" width="300" />
    <p>Discover delicious meals and manage your favorite recipes.</p>
</div>
