html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
  --primary: #4CAF50;
  --text: #333;
}

body {
  background-color: #fdfdfd;
  font-family: Arial, sans-serif;
  color: var(--text);
}

h1, h2 {
  color: var(--primary);
}

form {
  margin-top: 20px;
}
